
<div class="container is-desktop" id="bcg" style="margin-top: 10%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 50vmin; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            iHealth Push
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            iHealth Push (KD-723) je inteligentný monitor krvného tlaku vyvinutý spoločnosťou iHealth,
            ktorá sa špecializuje na produkty zdravotnej starostlivosti a wellness.
            iHealth Push (KD-723) je navrhnutý na meranie krvného tlaku a poskytuje ďalšie funkcie,
            ako sú nástroje na sledovanie a analýzu.
            Nosí sa na zápästí a pripája sa k smartfónu alebo inému zariadeniu cez Bluetooth alebo WiFi,
            čo mu umožňuje synchronizovať dáta a poskytovať ďalšie funkcie.

          </div>
        </div>
      </div>
    </div>
  </div>


