<app-header></app-header>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="./assets/pulse.png" alt="logo" width="100px" >
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
<!--      <a class="navbar-item" routerLink="/Main" routerLinkActive="active">-->
<!--        Hlavná stránka-->
<!--      </a>-->

<!--      <div class="navbar-item has-dropdown is-hoverable">-->
<!--        <a class="navbar-link">-->
<!--          Inteligentne zariadenia-->
<!--        </a>-->

<!--        <div class="navbar-dropdown">-->
<!--          <a class="navbar-item" routerLink="/SmartBnadInfo" routerLinkActive="active">-->
<!--            Oura Ring-->
<!--          </a>-->
<!--          <a class="navbar-item"  routerLink="/SmartBarometerInfo" routerLinkActive="active">-->
<!--            iHealth Push-->
<!--          </a>-->
<!--          <a class="navbar-item" routerLink="/SmartBnadInfo" routerLinkActive="active">-->
<!--            FitBit Charge II-->
<!--          </a>-->
<!--          <a class="navbar-item" routerLink="/SmartWatchInfo" routerLinkActive="active">-->
<!--            FitBit Versa II-->
<!--          </a>-->
<!--          <a class="navbar-item" routerLink="/SmartScaleInfo" routerLinkActive="active">-->
<!--            iHealth-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->

      <a class="btn btn-outline-secondary mr-4"  routerLink="/Main" routerLinkActive="active"> Hlavná stránka</a>

      <div ngbDropdown class="d-inline-block " >
        <button type="button" class="btn btn-outline-secondary"  id="dropdownBasic1" ngbDropdownToggle>
          Inteligentne zariadenia
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/SmartBnadInfo1" routerLinkActive="active">Oura Ring</button>
          <button ngbDropdownItem routerLink="/SmartBarometerInfo" routerLinkActive="active">iHealth Push</button>
          <button ngbDropdownItem routerLink="/SmartBnadInfo" routerLinkActive="active"> FitBit Charge II</button>
          <button ngbDropdownItem routerLink="/SmartWatchInfo" routerLinkActive="active"> FitBit Versa II</button>
          <button ngbDropdownItem routerLink="/SmartScaleInfo" routerLinkActive="active"> Aria Air</button>
        </div>

      </div>

    </div>
  </div>

</nav>

<app-footer></app-footer>
