
<div class="container is-desktop" id="bcg" style="margin-top: 10%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 50vmin; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            FitBit Versa II
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            Fitbit Versa 2 sú inteligentné hodinky vyvinuté spoločnosťou Fitbit, ktorá sa špecializuje na zariadenia určené na sledovanie kondície.
            Fitbit Versa 2 sú navrhnuté ako všestranné inteligentné hodinky,
            ktoré dokážu sledovať rôzne fitness metriky, poskytovať upozornenia z pripojeného smartfónu a ponúkajú množstvo ďalších funkcií,
            ktore môžu byť užitočné pre zdravotnú starostlivosť.

          </div>
        </div>
      </div>
    </div>
  </div>

