
<div class="container is-desktop" id="bcg" style="margin-top: 10%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 50vmin; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            FitBit Charge II
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            Fitbit Charge 2 je multifunkčný náramok, ktorý obsahuje akcelerometer a optický monitor srdcového tepu.
            Krokomer tohto náramku patril k jedným z najlepších na trhu.
            3-osový akcelerometer sleduje kroky, vzdialenosť, spálené kalórie,
            aktívne minúty a hodinovú aktivitu, ako aj trvanie a kvalitu spánku.
            Napriek tomu že Charge 2 nemá vo svojom názve HR ako jeho predchodca,
            zachováva si monitor srdcového tepu PurePuulse od HR,
            ktorý používateľom umožňuje sledovať intenzitu tréningu a spaľovanie kalórií.
            Výsledky z aktivít je potom možné vidieť prostredníctvom interaktívnych tabuliek a grafov v aplikácií Fitbit.
            Z pohľadu dizajnu ide o modulárnu súpravu pozostávajúcu z obrazovky a náramku.
            Ramienka náramku sa dajú ľahko odopnúť pričom sa ale neodopínajú náhodne.
            Náramok je nutné mať tesne na paži aby senzory, čo najefektívnejšie zaznamenávali pulz,
            no nezvieral zápästie.

          </div>
        </div>
      </div>
    </div>
  </div>
