<div class="container is-desktop" id="bcg" style="margin-top: 10%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 50vmin; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            Aria Air
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            Fitbit Aria Air je inteligentná váha vyvinutá spoločnosťou Fitbit,
            ktorá sa špecializuje na zariadenia na sledovanie kondície.
            Fitbit Aria Air je navrhnutý tak, aby pomáhal používateľom sledovať a monitorovať ich hmotnosť,
            percento telesného tuku a index telesnej hmotnosti (BMI).
            Pripája sa k smartfónu alebo inému zariadeniu cez Bluetooth a dokáže synchronizovať dáta s aplikáciou Fitbit,
            čo používateľom umožňuje sledovať ich pokroky v priebehu času.

          </div>
        </div>
      </div>
    </div>
  </div>


